@import url("https://fonts.googleapis.com/css?family=VT323");

/* TODO: Remove in favor of styled-components (bs-styled-components/bs-nice?)

/*
  Minimal Reset
*/
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*
  App Stuff
*/

:root .light-theme {
  --background-color: white;
  --border-color: #ecf0f1;
  --foreground-color: #141823;
  --happy-color: #85bb65;
  --sad-color: #c81d11;
  --happy-background-color: #f0fbf0;
  --sad-background-color: #fff8f8;
  --subtext-color: #95a5a6;
}

:root .dark-theme {
  --background-color: #282a36;
  --border-color: #44475a;
  --foreground-color: #f8f8f2;
  --happy-color: #50fa7b;
  --sad-color: #ffb86c;
  --happy-background-color: #282a36;
  --sad-background-color: #282a36;
  --subtext-color: #6272a4;
}

html,
body {
  font-family: "VT323", monospace;
  height: 100%;
}

input {
  background-color: var(--background-color);
  color: var(--foreground-color);
  border: none;
  border-bottom: 1px solid var(--happy-color);
  font-family: "VT323", monospace;
  font-size: 1.5em;
  padding: 1em;
  text-transform: uppercase;
  width: 100%;
}

input:focus {
  outline: none;
}

#index {
  height: 100%;
}

.app-container {
  display: grid;
  grid-template-rows: 1fr 2fr 26fr;
  height: 100%;
  background: var(--background-color);
  color: var(--foreground-color);
  grid-template-columns: auto;
  overflow: scroll;
}

.app-header {
  font-size: 1.5em;
  padding: 20px 20px 0 20px;
  display: flex;
  justify-content: space-between;
}

#app-title {
  color: var(--happy-color);
}

.symbols-container,
.quotes-container {
  padding: 1em;
}

.quotes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.quotes-container > div {
  animation-duration: 0.7s;
  animation-name: fadein;
  border: 1px solid var(--border-color);
  font-size: 1.5em;
  padding: 20px;
}

.quotes-container .quote-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
}

.quotes-container .quote-body {
  color: var(--subtext-color);
}

.quotes-container .quote-body div {
  display: flex;
  justify-content: space-between;
}

.quote-symbol,
.quote-last-trade-price {
  font-size: 1.5em;
}

.quote-last-trade-price,
.quote-formatted-delta {
  text-align: right;
}

div.positive {
  background-color: var(--happy-background-color);
}

div.negative {
  background-color: var(--sad-background-color);
}

div.positive .trend-color {
  color: var(--happy-color);
}

div.negative .trend-color {
  color: var(--sad-color);
}

/*
  Animations
*/

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

/*
  Things that should instead be done with autoprefixer (or bs-nice, etc)
*/

input::-webkit-input-placeholder {
  font-family: "VT323", monospace;
  text-transform: none;
}

input:-ms-input-placeholder {
  font-family: "VT323", monospace;
  text-transform: none;
}

input:-moz-placeholder {
  font-family: "VT323", monospace;
  text-transform: none;
}

input::-moz-placeholder {
  font-family: "VT323", monospace;
  text-transform: none;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: var(--foreground-color);
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: var(--foreground-color);
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: var(--foreground-color);
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--foreground-color);
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--foreground-color);
}

::placeholder {
  /* Most modern browsers support this now. */
  color: var(--foreground-color);
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.app-container,
input {
  -webkit-transition: background 0.1s linear;
  -ms-transition: background 0.1s linear;
  transition: background 0.1s linear;
}
